.login {
  width: 33%;
  height: 100vh;
  text-align: center;
  background-color: #564cd9;
  display: flex;
  flex-direction: column;
}

.login__interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login__inputs {
  width: 300px;
}

.login__button {
  width: 100px;
}
